
extends layout.pug

block append head
      meta(http-equiv="refresh", content="3600")
      style
        include ..\table.css

block body

  table.blue
    thead
      tr
        th= details.make + ' ' + details.modelDescription
        th= 'data rejestracji'
        th= 'data pierwszej rejestacji'
        th= 'numer rejestracyjny'
        th= 'VIN'
        th= 'kolor'
        th= 'silnik'
        th= 'tapicerka'
        th= 'OnStar'
    tbody
      tr
        td= 'RM: ' + details.modelYearSuffix
        td= details.registrationDate
        td= details.dateFirstRegistered
        td= details.registrationMark
        td= details.vin
        td= details.colour
        td= details.engineCode + ': ' + details.engineDescription
        td= details.tapicerka
        td= details.onStarEquipped

  table.blue(style='float:left')
    caption(align='bottom')= 'ostatnia aktualizacja:' + lastModified
    thead
      tr
        th Etap
        th(colspan=2) Status
        th data zmiany
          br
          .
            statusu
        th prognozowana
          br
          .
            data dostawy
    tbody
      each stage in statuses
        each status, i in stage.statuses
          tr
            - if (0 === i)
              - if (stage.statuses.length > 0)
                td(rowspan=stage.statuses.length)= stage.stage
              - else
                td= stage.stage
            td= status.status
            td= status.description
            td= status.eventCodeUpdateTimestamp
            td= status.estimatedDeliveryDateTime

  table.blue(style='float:left')
    thead
      tr
        th= 'Wyposażenie'
        th
          span#show(onclick="document.getElementById('options').style.display = ''; document.getElementById('show').style.display = 'none'; document.getElementById('hide').style.display = '';") pokaż
          span#hide(onclick="document.getElementById('options').style.display = 'none'; document.getElementById('show').style.display = ''; document.getElementById('hide').style.display = 'none';", style={display: 'none'}) ukryj
    tbody#options(style={display: 'none'})
      tr
        th= 'kod'
        th= 'opis'
      each row in historical[0].item.vehicleDetail.options
        tr
          td= row.key
          td= row.name
