-function prettyDate(dateString){
  -if (!dateString) {return null}
  -var date = new Date(dateString);
  -var d = date.getDate();
  -if (d < 10) d = '0' + d
  -var m = date.getMonth() + 1;
  -if (m < 10) m = '0' + m
  -var y = date.getFullYear();
  -return y + '-' + m + '-' + d;
-}

-var sd = {20: 'Przyjęcie zamówienia', 21: 'Przetwarzanie zamówienia', 25: 'Ustawianie zamówienia do produkcji', 30: 'Oczekiwanie na zwolnienie do produkcji', 32: 'Zwolnienie do produkcji', 33: 'Przyjęcie do produkcji przez fabrykę', 35: 'Samochód na linii produkcyjnej', 38: 'Samochód wyprodukowany', 40: 'Samochód przekazany do sprzedarzy', 42: 'Samochód opuścił bamy fabryki', 43: 'Samochód na centralnym składzie dystrybucyjnym', 44: 'Samochód wysłany do Polski', 48: 'Samochód na składzie w Polsce', 49: 'Samochód wysłany do dealera', 58: 'Samochód dojechał do dealera', 60: 'Samochód sprzedany'}

html
  head
    title= title
    <meta http-equiv="refresh" content="3600">
    style
      include ..\table.css
  body
    div.divTable
      div.divTableBody
        div.divTableRow
          div.divTableCell
            table.blue
              thead
                tr
                  th(colspan="8")= historical[0].item.vehicleDetail.make + ' ' + historical[0].item.vehicleDetail.modelDescription + ' RM: ' + historical[0].item.vehicleDetail.modelYearSuffix
              tbody
                tr
                  td= 'data rejestracji'
                  td #{prettyDate(historical[0].item.registrationDate)}
                  td= 'data pierwszej rejestacji'
                  td #{prettyDate(historical[0].item.vehicleDetail.dateFirstRegistered)}
                  td= 'numer rejestracyjny'
                  td= historical[0].item.registrationMark
                  td= 'VIN'
                  td= historical[0].item.vehicleDetail.vin
            br
            table.blue
              thead
                tr
                  th= 'Status'
                  th= 'data zmiany'
                  th= 'data dostawy'
                  th= 'opis statusu'
              tbody
                each row in historical
                  tr
                    td= row.item.vehicleDetail.lastVehicleEvent
                    td #{prettyDate(row.item.vehicleDetail.eventCodeUpdateTimestamp)}
                    td #{prettyDate(row.item.vehicleDetail.estimatedDeliveryDateTime)}
                    td #{sd[row.item.vehicleDetail.lastVehicleEvent]}
            p= 'ostatnia aktualizacja: ' + lastModified
          div.divTableCell
            table.blue
              tbody
                tr
                  td= 'kolor'
                  td= historical[0].item.vehicleDetail.colour
                tr
                  td= 'silnik'
                  td= historical[0].item.vehicleDetail.engineCode + ': ' + historical[0].item.vehicleDetail.engineDescription
                tr
                  td= 'tapicerka'
                  td= historical[0].item.vehicleDetail.tapicerka
                tr
                  td= 'OnStar'
                  td #{historical[0].item.vehicleDetail.onStarEquipped ? '✓' : '✗'}
          div.divTableCell
            table.blue
              thead
                tr
                  th= 'Wyposażenie'
                  th
                    span#show(onclick="document.getElementById('options').style.display = ''; document.getElementById('show').style.display = 'none'; document.getElementById('hide').style.display = '';") pokaż
                    span#hide(onclick="document.getElementById('options').style.display = 'none'; document.getElementById('show').style.display = ''; document.getElementById('hide').style.display = 'none';", style={display: 'none'}) ukryj
              tbody#options(style={display: 'none'})
                tr
                  th= 'kod'
                  th= 'opis'
                each row in historical[0].item.vehicleDetail.options
                  tr
                    td= row.key
                    td= row.name
